# Flask and web framework
flask

# Data handling
pandas
numpy

# Machine learning
lightgbm
scikit-learn

# Maps and routing
osmnx
networkx
folium

# API calls
requests

# S3 access
boto3
botocore
s3fs

# Other utilities
pickle5